{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ book.title }}</h1>

  <p><strong>Автор:</strong> <a href="">{{ book.author }}</a></p>
  <p><strong>Краткое описание:</strong> {{ book.summary }}</p>
  <p><strong>Жанр:</strong> {% for genre in book.genre.all %} {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
  <p><strong>Цена:</strong> {{ book.price }} ₽</p>
  <p><strong>Количество на складе:</strong> {{ book.quantity }}</p>
  <p><strong>Доступно:</strong> {% if book.is_available %}Да{% else %}Нет{% endif %}</p>

  <a href="{% url 'books' %}" class="btn btn-default">Вернуться к списку</a>
{% endblock %}