{% extends "base_generic.html" %}

{% block content %}
<div class="container">
    <h1>Часто задаваемые вопросы (FAQ)</h1>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Информация о магазине</h3>
        </div>
        <div class="panel-body">
            <h4>Адрес магазина:</h4>
            <p>г. Красноярск, ул. Примерная, д. 123</p>
            
            <h4>График работы:</h4>
            <p>Без выходных и перерывов с 11:00 до 20:00 по красноярскому времени (+4 часа к московскому времени)</p>
            
            <h4>Контактная информация:</h4>
            <p>Телефон: +7 (391) 123-45-67</p>
            <p>Email: info@bookstore-krasnoyarsk.ru</p>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Оформление заказа</h3>
        </div>
        <div class="panel-body">
            <p>Чтобы оформить заказ в нашем магазине, необходимо добавить выбранные книги в корзину, заполнить информацию для доставки и нажать на кнопку «Отправить заказ», чтобы отправить заказ прямо к нам в магазин.</p>
            <p>При помощи формы заказа можно отложить книгу в магазине, заказать доставку по Красноярску или отправку почтой в любую точку мира.</p>
            <p>Обратите внимание, что заказы обрабатываются во время работы магазина — мы работаем без выходных и перерывов с 11 до 20 по красноярскому времени (+4 часа к московскому времени), — поэтому отвечать мы можем с некоторым запозданием или же на следующий день. Но обычно стараемся отвечать максимально оперативно.</p>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Резерв книги в магазине</h3>
        </div>
        <div class="panel-body">
            <p>Книга без предоплаты откладывается на 3 дня.</p>
            <p>Чтобы забрать её, просто скажите на кассе, что откладывали книгу.</p>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Доставка по Красноярску</h3>
        </div>
        <div class="panel-body">
            <p>Доставка по Красноярску не зависит от общего объёма вашего заказа и фиксирована – 400 ₽, вне зависимости от удалённости вашего района.</p>
            <p>Как правило, мы доставляем книги на следующий день после получения заказа, но если нужно сделать это срочно, мы что-нибудь придумаем.</p>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Доставка по России и миру</h3>
        </div>
        <div class="panel-body">
            <p>Обычно пользуемся услугами Почты России. Стоимость доставки зависит от количества заказанных книг:</p>
            <ul>
                <li>одна книга – 250 ₽,</li>
                <li>две книги – 300 ₽,</li>
                <li>три книги – 350 ₽</li>
                <li>и так далее (+50 ₽ за каждую следующую книгу).</li>
            </ul>
            <p>Гарантируем, что все книги перед отправкой тщательно пакуются в бумагу, картон или пузырчатую плёнку, чтобы во время транспортировки не пострадала ни одна страница. Если во внешнем виде книги есть изъяны, мы обязательно сообщим вам об этом при согласовании заказа.</p>
            <p>Книги отправляются в течение 3 дней после получения оплаты заказной бандеролью или посылкой. Мы отправим вам трек-номер для отслеживания на сайте Почты России. Наложенным платежом книги, к сожалению, не отправляются.</p>
            <p>Если вы хотите воспользоваться услугами курьерских служб, мы готовы вам в этом помочь.</p>
            <p>Если вы хотите отправить нашу книгу в подарок другу в другой город – это тоже решаемо.</p>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Оплата</h3>
        </div>
        <div class="panel-body">
            <p>Все заказы можно оплатить наличными в магазине или на сайте при помощи сервиса Robokassa. Комиссия за оплату не взымается. Также можно сделать платёж на расчётный счёт магазина.</p>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Обмен и возврат</h3>
        </div>
        <div class="panel-body">
            <p>Обменять и вернуть книги надлежащего качества нельзя, так как они входят в Перечень непродовольственных товаров, не подлежащих возврату или обмену на аналогичный товар других размера, формы, габарита, фасона, расцветки или комплектации (в редакции Постановлений Правительства РФ от 20.10.1998 № 1222, от 06.02.2002 № 81, от 19.09.2015 № 994, от 27.05.2016 № 471, от 22.06.2016 № 568).</p>
            <p>Вернуть книги ненадлежащего качества можно в течение семи дней после получения, если сохранены их товарный вид и чек. Для возврата свяжитесь, пожалуйста, с нами любым удобным для вас способом.</p>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Книга в подарок</h3>
        </div>
        <div class="panel-body">
            <p>Если вы из другого города или просто хотите сделать кому-то хороший подарок — можете заказать и купить на нашем сайте книгу для своего друга. Эту книгу мы бесплатно завернём в подарочную упаковку, и ваш друг сможет забрать подарок прямо из магазина. Мы также можем доставить подарок по Красноярску на стандартных условиях.</p>
        </div>
    </div>
    
    <div class="text-center" style="margin-top: 30px;">
        <a href="{% url 'index' %}" class="btn btn-primary">
            <span class="glyphicon glyphicon-home"></span> Вернуться на главную
        </a>
    </div>
</div>
{% endblock %}