<!doctype html>
<html lang="en">
  <head>
    {% block title %}<title>Book Store</title>{% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Добавление дополнительного статического CSS файла -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>

  <body>
    <!-- Навигационная панель -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">Book Store</a>
        </div>
        
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <!-- Убрали "Главная" так как есть логотип -->
            <li><a href="{% url 'books' %}">Все книги</a></li> <!-- Было "Каталог книг" -->
            <li><a href="{% url 'news' %}">Новости</a></li>
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
            <!-- Оставляем пустым пока не реализуем функционал -->
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          {% block sidebar %}
            <ul class="sidebar-nav">
              <!-- Убрали "Все книги" так как теперь это в верхнем меню -->
              <li><a href="{% url 'index' %}">Главная</a></li>
              <li><a href="{% url 'books' %}">Все книги</a></li> <!-- Оставляем для навигации -->
              <li><a href="{% url 'news' %}">Новости</a></li>
            </ul>
          {% endblock %}
        </div>
        <div class="col-sm-10">
          {% block content %}{% endblock %}
        </div>
      </div>
      
      {% block pagination %}
        {% if is_paginated %}
          <div class="pagination">
            <span class="page-links">
              {% if page_obj.has_previous %}
                <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">предыдущая</a>
              {% endif %}
              <span class="page-current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">следующая</a>
              {% endif %}
            </span>
          </div>
        {% endif %}
      {% endblock %}
    </div>
  </body>
</html>